body {
    background-color: #ece6cd;

    h1 {
        font-size: 150%;
        color: #3a3f58;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }

    h2 {
        font-size: 120%;
        color: #3a3f58;
        margin-top: 1%;
        margin-bottom: 1%;
        text-align: center;
    }

    p {
        font-size: 100%;
        color: #3a3f58;
        margin-top: auto;
        margin-bottom: auto;
    }

    ol {
        font-size: 100%;
        color: #3a3f58;
        margin-top: auto;
        margin-bottom: auto;
    }

    ul {
        font-size: 100%;
        color: #3a3f58;
        margin-top: auto;
        margin-bottom: auto;
    }

    a {
        font-size: 120%;
        align-self: center;
        color: #3a3f58;
    }

    div.header{
        background-color: #ece6cd;
        margin: 1px 10px 5px 10px;
        padding: 10px 5px 10px 1px;
        display:flex;
        flex:row wrap;
        max-width: 100%;
        justify-content: right;
        border-style:solid;
        border-color: #ee6a59;
        border-radius: 5px;
    }

    .header a{
        font-size: 120%;
        color: #3a3f58;
        margin-left: 5px;
        margin-right: 5px;
    }



    div.content{
        display:flex;
    }



    div.content-left {
        background-color: #ece6cd;
        margin: 1px 10px 1px 10px;
        padding: 1px 10px 20px 20px;
        display:flex;
        flex-flow: column wrap;
        width: 50%;
        justify-content: space-around;
        border-style: solid;
        border-color: #ee6a59;
        border-radius: 20px;
    }

    div.content-right {
        background-color: #ece6cd;
        margin: 1px 10px 1px 10px;
        padding: 1px 10px 20px 10px;
        align-items: center;
        display:flex;
        flex-flow: column wrap;
        width: 50%;
        justify-content: space-around;
        border-style: solid;
        border-color: #ee6a59;
        border-radius: 20px;
    }

    .content-right img {
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        width: 400px;
        height: 300px;
    }



    div.container{
        background-color: #f9ac67;
    }
    
    .container img{
        display: block;
        width:200px;
        margin-left: auto;
        margin-right: auto;
    }

    div.block{
        background-color: #ee6a59;
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }



    div.container-2{
        background-color: #f9ac67;
        display: flex;
        align-items: center;
        height: 500px;
    }

    div.block-2{
        background-color: #ee6a59;
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }



    div.container-3{
        background-color: #f9ac67;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        border-style: solid;
        border-color:#3a3f58;
        border-radius: 5px;
    }

    div.block-3{
        background-color: #ee6a59;
        width: 200px;
        height: 200px;
        border-style: solid;
        border-color:#3a3f58;
    }



    div.container-4{
        border-style: solid;
        border-color:#3a3f58;
    }

    div.block-left{
        width: 200px;
        height: 200px;
        margin: 20px;
        position: relative;
        left: 25px;
        top: 100px;
        border-style: solid;
        border-color:red;
    }
    
    div.block-between{
        width: 200px;
        height: 200px;
        margin: 20px;
        position: relative;
        left: 150px;
        border-style: solid;
        border-color: blue;
    }

    div.block-right{
        width: 200px;
        height: 200px;
        margin: 20px;
        position: relative;
        left: 275px;
        bottom: 100px;
        border-style: solid;
        border-color:green;
    }

    .right-bottom{
        width: 100px;
        height: 100px;
        position: fixed;
        right: 0;
        bottom: 0;
        margin: 0;
    }
}